Capstone/IMOsWeb/App_WebReferences/Contact_Service/CompContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllContacts">
        <s:complexType />
      </s:element>
      <s:element name="getAllContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllContactsResult" type="tns:ArrayOfCompanyContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompanyContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyContact" nillable="true" type="tns:CompanyContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyContact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salutation" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllContactsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllContacts" />
  </wsdl:message>
  <wsdl:message name="getAllContactsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="CompContactServiceSoap">
    <wsdl:operation name="getAllContacts">
      <wsdl:input message="tns:getAllContactsSoapIn" />
      <wsdl:output message="tns:getAllContactsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompContactServiceSoap" type="tns:CompContactServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContacts">
      <soap:operation soapAction="http://tempuri.org/getAllContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompContactServiceSoap12" type="tns:CompContactServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContacts">
      <soap12:operation soapAction="http://tempuri.org/getAllContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompContactService">
    <wsdl:port name="CompContactServiceSoap" binding="tns:CompContactServiceSoap">
      <soap:address location="http://localhost:58833/CompContactService.asmx" />
    </wsdl:port>
    <wsdl:port name="CompContactServiceSoap12" binding="tns:CompContactServiceSoap12">
      <soap12:address location="http://localhost:58833/CompContactService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>